<!DOCTYPE html>
<html lang="ru-RU">
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages':['table']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {

                    // //    alert(json)
                    // var data = new google.visualization.DataTable(json);
                    // var table = new google.visualization.Table(document.getElementById('table_div'));
                    // table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});

                var jsonData = $.ajax({
                    url: "https://raw.githubusercontent.com/neoreact-cat/charts/master/data/json/ru.russian-districts-federal-budget-taxes-income.json",
                    dataType: "json",
                    async: true,
                    success: function(json){

                        var data = new google.visualization.DataTable();
                        data.addColumn('string', 'Федеральный Округ')
                        data.addColumn('number', 'Доход в федеральный бюджет')

                        json.forEach(item => { data.addRow([item.District, item.Income]) });
                        data.sort({column: 1, desc: true}); 

                        var table = new google.visualization.Table(document.getElementById('table_div'));
                        table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
                    }})
            }
        </script>
    </head>
    <body>
        <div id="table_div"></div>
    </body>
</html>